extends layout

block content
	div.main
		div.note.pa-lo Sa
		div.note.dha-lo Dha
		div.note.ni-lo Ni
		div.note.sa Sa
		div.note.re Re
		div.note.ga Ga
		div.note.ma Ma
		div.note.pa Pa
		div.note.dha Dha
		div.note.ni Ni
		div.note.sa-hi Sa
		div.note.re-hi Re
		div.note.ga-hi Ga
		div.note.drone 
		div.note.strings 
		div.bowl
		//- div.info An idea brought to life by Noah Wilson.<br>behearnowmusic@gmail.com


		div.box
			div.noteBox(name="gahi")
				div.label Ga
				div.block.note1
				div.block.note2
				div.block.note3
				div.block.note4
				div.block.note5
				div.block.note6
				div.block.note7
				div.block.note8
		

			div.noteBox(name="rehi")
				div.label Re
				div.block.note1
				div.block.note2
				div.block.note3
				div.block.note4
				div.block.note5
				div.block.note6
				div.block.note7
				div.block.note8

			div.noteBox(name="sahi")
				div.label Sa
				div.block.note1
				div.block.note2
				div.block.note3
				div.block.note4
				div.block.note5
				div.block.note6
				div.block.note7
				div.block.note8

			div.noteBox(name="ni")
				div.label Ni
				div.block.note1
				div.block.note2
				div.block.note3
				div.block.note4
				div.block.note5
				div.block.note6
				div.block.note7
				div.block.note8

			div.noteBox(name="dha")
				div.label Dha
				div.block.note1
				div.block.note2
				div.block.note3
				div.block.note4
				div.block.note5
				div.block.note6
				div.block.note7
				div.block.note8

			div.noteBox(name="pa")
				div.label Pa
				div.block.note1
				div.block.note2
				div.block.note3
				div.block.note4
				div.block.note5
				div.block.note6
				div.block.note7
				div.block.note8

			div.noteBox(name="ma")
				div.label Ma
				div.block.note1
				div.block.note2
				div.block.note3
				div.block.note4
				div.block.note5
				div.block.note6
				div.block.note7
				div.block.note8

			div.noteBox(name="ga")
				div.label Ga
				div.block.note1
				div.block.note2
				div.block.note3
				div.block.note4
				div.block.note5
				div.block.note6
				div.block.note7
				div.block.note8

			div.noteBox(name="re")
				div.label Re
				div.block.note1
				div.block.note2
				div.block.note3
				div.block.note4
				div.block.note5
				div.block.note6
				div.block.note7
				div.block.note8

			div.noteBox(name="sa")
				div.label Sa
				div.block.note1
				div.block.note2
				div.block.note3
				div.block.note4
				div.block.note5
				div.block.note6
				div.block.note7
				div.block.note8

			div.noteBox(name="nilo")
				div.label Ni
				div.block.note1
				div.block.note2
				div.block.note3
				div.block.note4
				div.block.note5
				div.block.note6
				div.block.note7
				div.block.note8

			div.noteBox(name="dhalo")
				div.label Dha
				div.block.note1
				div.block.note2
				div.block.note3
				div.block.note4
				div.block.note5
				div.block.note6
				div.block.note7
				div.block.note8

			div.noteBox(name="palo")
				div.label Pa
				div.block.note1
				div.block.note2
				div.block.note3
				div.block.note4
				div.block.note5
				div.block.note6
				div.block.note7
				div.block.note8

			div.controls
				button.btn.btn-success.play Play
				button.btn.btn-danger.stop Stop
	