doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="../styles/main.css")

	body
		block content
		
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="../js/main.js")